/* 
    Document   : index
    Created on : 2013.23.5, 23:32:16
    Author     : Sintija
    Description:
        Purpose of the stylesheet follows.
*/
*{
    font-family: 'Comic Sans MS', cursive;
}
root { 
    display: block;
}

html{
    width: 100%;
    height: 100%;
}
#about{
    float:right;
    font-size: 20px;
}
#made_by{
    position:fixed;
    right: 10px;
    bottom:0;
    font-size:20px;
    font-weight: bold;
    color:white;
}
#container{
    position: absolute;
    top: 50%;
    margin-top: -200px; 
    left: 0;
    width: 100%;
}

#content {
    margin-left: auto;
    margin-right: auto;
    height: 395px;
    text-align: center;
}

/*.className{
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
}*/
.blue_background{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #E3F4FF 0%, #288BBD 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #E3F4FF 0%, #288BBD 100%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #E3F4FF 0%, #288BBD 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #E3F4FF), color-stop(1, #288BBD));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #E3F4FF 0%, #288BBD 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #E3F4FF 0%, #288BBD 100%);
}

.button {
   border-top: 1px solid #f79c00;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff5900), to(#ff0000));
   background: -webkit-linear-gradient(top, #ff5900, #ff0000);
   background: -moz-linear-gradient(top, #ff5900, #ff0000);
   background: -ms-linear-gradient(top, #ff5900, #ff0000);
   background: -o-linear-gradient(top, #ff5900, #ff0000);
   padding: 13.5px 27px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 36px;
   font-family: 'Comic Sans MS', cursive;
   font-weight: bold;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #ff0000;
   background: #ff0000;
   color: #ffffff;
   }
.button:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }
   
.Three-Dee{
font-family: 'Comic Sans MS', cursive;
line-height: 1em;
color: #ff4400;
font-weight:bold;
font-size: 72px;
text-shadow:0px 0px 0 rgb(225,38,30),1px 1px 0 rgb(208,21,47),2px 2px 0 rgb(192,5,63),3px 3px 0 rgb(175,12,80),4px 4px 0 rgb(158,29,97), 5px 5px 0 rgb(141,46,114),6px 6px 5px rgba(0,0,0,0.9),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2);
}
