@media screen 
and (min-width: 981px)
and (orientation : portrait)
	{
		#content2{
			
		}
		#info, #app_div{
			float: none;
			width: auto;
			
		}
	}


@media screen and (max-width: 980px) {

	#pagewrap, #game {
		width: 95%;
	}

	#content {
		width: 90%;
	}

	#nosaukums{
		margin-bottom: 40px;
	}
	
	@media screen and (min-height: 651px){
	.game_text{
		color:red;
	}

		#content2{
			
		}
		#info, #app_div{
			float: none;
			width: auto;
		}
	}
}

@media screen and (max-width: 650px) {
	#content {
		width: auto;
		float: none;
	}
	
	#nosaukums{
		font-size: 62px;
		margin-bottom: 30px;
	}
	
	.button{
		font-size: 30px;
		padding: 9px 18px;
	}
	
	#about{
		font-size: 16px;
	}
	
	#made_by{
		font-size: 14px;
	}
	
	@media screen and (min-height: 481px){
	.game_text{
		color:red;
	}

		#content2{
			
		}
		#info, #app_div{
			float: none;
			width: auto;
		}
	}
	
}

@media screen and (max-width: 480px) {

	html {
		-webkit-text-size-adjust: none;
	}
	
	#container{
		margin-top: -100px;
	}
	
	#nosaukums {
		font-size: 45px;
		padding: 10px 8px;
		margin: 20px;
	}
	.button{
		font-size: 26px;
		padding: 6px 15px;
	}
	
	#about{
		font-size: 14px;
	}
	
	#made_by{
		font-size: 13px;
	}
	
	@media screen and (min-height: 321px){
	.game_text{
		color:red;
	}

		#content2{
			
		}
		#info, #app_div{
			float: none;
			width: auto;
		}
	}
	
}

@media only screen and (max-width : 321px) {
	
}